.home {
    background-image: url('PortfolioBackground.webp');
    background-size: cover;
    background-position: center;
    display: flex;
}

.homeContent {
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.heading {
    font-size: 4em;
    margin-bottom: 20px;
    color: #fff;
}

.paragraph {
    font-size: 1.5em;
    line-height: 1.6;
    color: #fff;
}

.contactButton{
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}