.contactSection {
    padding: 4% 4%;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
}

.contactInfo {
    margin-bottom: 2em;
}

.contactInfo h3 {
    margin-bottom: 0.5em;
    font-size: 1em;
    color: #333;
}

.contactInfo p {
    margin: 0.2em 0;
    font-size: 0.85em;
    color: #555;
}

.contactInfo a {
    color: #0066cc;
    text-decoration: none;
}

.contactInfo a:hover {
    text-decoration: underline;
}